.elementor-6494 .elementor-element.elementor-element-541e7c8 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --gap: 0px 0px;
    --row-gap: 0px;
    --column-gap: 0px;
}

.elementor-6494 .elementor-element.elementor-element-541e7c8:not(.elementor-motion-effects-element-type-background),
.elementor-6494 .elementor-element.elementor-element-541e7c8>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #F78A7F;
}

.elementor-6494 .elementor-element.elementor-element-d181ffd {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --gap: 0px 0px;
    --row-gap: 0px;
    --column-gap: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-6494 .elementor-element.elementor-element-637aaf1 {
    --display: flex;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-6494 .elementor-element.elementor-element-e31f306 .elementor-icon-list-icon i {
    color: #FFFFFF;
    transition: color 0.3s;
}

.elementor-6494 .elementor-element.elementor-element-e31f306 .elementor-icon-list-icon svg {
    fill: #FFFFFF;
    transition: fill 0.3s;
}

.elementor-6494 .elementor-element.elementor-element-e31f306 {
    --e-icon-list-icon-size: 19px;
    --icon-vertical-offset: 1px;
}

.elementor-6494 .elementor-element.elementor-element-e31f306 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-6494 .elementor-element.elementor-element-e31f306 .elementor-icon-list-item>a {
    font-family: "Titillium Web", Sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.elementor-6494 .elementor-element.elementor-element-e31f306 .elementor-icon-list-text {
    color: #FFFFFF;
    transition: color 0.3s;
}

.elementor-6494 .elementor-element.elementor-element-a114821 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --justify-content: flex-end;
    --gap: 0px 0px;
    --row-gap: 0px;
    --column-gap: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-6494 .elementor-element.elementor-element-4f8e348 {
    margin: 0px 28px calc(var(--kit-widget-spacing, 0px) + 0px) 0px;
    --e-icon-list-icon-size: 18px;
    --icon-vertical-offset: 1px;
}

.elementor-6494 .elementor-element.elementor-element-4f8e348 .elementor-icon-list-icon i {
    color: #FFFFFF;
    transition: color 0.3s;
}

.elementor-6494 .elementor-element.elementor-element-4f8e348 .elementor-icon-list-icon svg {
    fill: #FFFFFF;
    transition: fill 0.3s;
}

.elementor-6494 .elementor-element.elementor-element-4f8e348 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-6494 .elementor-element.elementor-element-4f8e348 .elementor-icon-list-item>a {
    font-family: "Titillium Web", Sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.elementor-6494 .elementor-element.elementor-element-4f8e348 .elementor-icon-list-text {
    color: #FFFFFF;
    transition: color 0.3s;
}

.elementor-6494 .elementor-element.elementor-element-3159077 {
    --divider-border-style: solid;
    --divider-color: #000;
    --divider-border-width: 0px;
    width: var( --container-widget-width, 0%);
    max-width: 0%;
    background-color: #FFFFFF;
    margin: 0px 0px calc(var(--kit-widget-spacing, 0px) + 0px) 0px;
    padding: 2.5px 2.5px 2.5px 2.5px;
    --container-widget-width: 0%;
    --container-widget-flex-grow: 0;
}

.elementor-6494 .elementor-element.elementor-element-3159077.elementor-element {
    --align-self: center;
}

.elementor-6494 .elementor-element.elementor-element-3159077 .elementor-divider-separator {
    width: 0px;
}

.elementor-6494 .elementor-element.elementor-element-3159077 .elementor-divider {
    padding-block-start: 0px;
    padding-block-end: 0px;
}

.elementor-6494 .elementor-element.elementor-element-5cfaff5 {
    margin: 0px 0px calc(var(--kit-widget-spacing, 0px) + 0px) 28px;
    --e-icon-list-icon-size: 16px;
    --icon-vertical-offset: 1px;
}

.elementor-6494 .elementor-element.elementor-element-5cfaff5 .elementor-icon-list-icon i {
    color: #FFFFFF;
    transition: color 0.3s;
}

.elementor-6494 .elementor-element.elementor-element-5cfaff5 .elementor-icon-list-icon svg {
    fill: #FFFFFF;
    transition: fill 0.3s;
}

.elementor-6494 .elementor-element.elementor-element-5cfaff5 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-6494 .elementor-element.elementor-element-5cfaff5 .elementor-icon-list-item>a {
    font-family: "Titillium Web", Sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.elementor-6494 .elementor-element.elementor-element-5cfaff5 .elementor-icon-list-text {
    color: #FFFFFF;
    transition: color 0.3s;
}

.elementor-6494 .elementor-element.elementor-element-5cfaff5 .elementor-icon-list-item:hover .elementor-icon-list-text {
    color: #F3F3F3;
}

.elementor-6494 .elementor-element.elementor-element-da2c989 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --gap: 0px 0px;
    --row-gap: 0px;
    --column-gap: 0px;
}

.elementor-6494 .elementor-element.elementor-element-f80069b {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --justify-content: space-between;
    --align-items: center;
    --gap: 0px 0px;
    --row-gap: 0px;
    --column-gap: 0px;
    --flex-wrap: wrap;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-6494 .elementor-element.elementor-element-28e4e3b {
    --display: flex;
    --min-height: 60px;
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-6494 .elementor-element.elementor-element-4800893 .hfe-site-logo {
    text-align: left;
}

.elementor-6494 .elementor-element.elementor-element-4800893 .hfe-site-logo .hfe-site-logo-container img {
    width: 168px;
}

.elementor-6494 .elementor-element.elementor-element-4800893 .widget-image-caption {
    margin-top: 0px;
    margin-bottom: 0px;
}

.elementor-6494 .elementor-element.elementor-element-4800893>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-6494 .elementor-element.elementor-element-4800893 .hfe-site-logo-container .hfe-site-logo-img {
    border-style: none;
}

.elementor-6494 .elementor-element.elementor-element-e3d3aa5 {
    --display: flex;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-6494 .elementor-element.elementor-element-e6e9958 .menu-area {
    text-align: center;
}

.elementor-6494 .elementor-element.elementor-element-e6e9958 .menu-area .navbar ul>li {
    padding-left: 2px;
    padding-right: 2px;
}

.elementor-6494 .elementor-element.elementor-element-e6e9958 .menu-item a.hfe-sub-menu-item {
    padding-left: calc( 2px + 20px);
    padding-right: 2px;
}

.elementor-6494 .elementor-element.elementor-element-e6e9958 .hfe-nav-menu__layout-vertical .menu-item ul ul a.hfe-sub-menu-item {
    padding-left: calc( 2px + 40px);
    padding-right: 2px;
}

.elementor-6494 .elementor-element.elementor-element-e6e9958 .hfe-nav-menu__layout-vertical .menu-item ul ul ul a.hfe-sub-menu-item {
    padding-left: calc( 2px + 60px);
    padding-right: 2px;
}

.elementor-6494 .elementor-element.elementor-element-e6e9958 .hfe-nav-menu__layout-vertical .menu-item ul ul ul ul a.hfe-sub-menu-item {
    padding-left: calc( 2px + 80px);
    padding-right: 2px;
}

.elementor-6494 .elementor-element.elementor-element-e6e9958 .menu-area .navbar ul.menu>li {
    padding-top: 15px;
    padding-bottom: 15px;
}

body:not(.rtl) .elementor-6494 .elementor-element.elementor-element-e6e9958 .menu-area .navbar ul.menu>li:not(:last-child) {
    margin-right: 0px;
}

body.rtl .elementor-6494 .elementor-element.elementor-element-e6e9958 .hfe-nav-menu__layout-horizontal .hfe-nav-menu>li.menu-item:not(:last-child) {
    margin-left: 0px;
}

.elementor-6494 .elementor-element.elementor-element-e6e9958 nav:not(.hfe-nav-menu__layout-horizontal) .hfe-nav-menu>li.menu-item:not(:last-child) {
    margin-bottom: 0px;
}

.elementor-6494 .elementor-element.elementor-element-e6e9958 .menu-area .navbar ul>li.menu-item-has-children>a {
    margin-right: 16px;
}

.elementor-6494 .elementor-element.elementor-element-e6e9958 .menu-area .icon2 .navbar ul>li.menu-item-has-children>a {
    margin-right: 16px;
}

.elementor-6494 .elementor-element.elementor-element-e6e9958 .menu-area .navbar ul li ul.sub-menu {
    min-width: 220px;
    width: 220px;
}

.elementor-6494 .elementor-element.elementor-element-e6e9958 .menu-area .navbar ul li ul.sub-menu li a,
.elementor-6494 .elementor-element.elementor-element-e6e9958 nav.hfe-dropdown li a.hfe-menu-item,
.elementor-6494 .elementor-element.elementor-element-e6e9958 nav.hfe-dropdown li a.hfe-sub-menu-item,
.elementor-6494 .elementor-element.elementor-element-e6e9958 nav.hfe-dropdown-expandible li a.hfe-menu-item,
.elementor-6494 .elementor-element.elementor-element-e6e9958 nav.hfe-dropdown-expandible li a.hfe-sub-menu-item {
    padding-top: 10px;
    padding-bottom: 10px;
}

.elementor-6494 .elementor-element.elementor-element-e6e9958 .menu-area .navbar ul li a {
    font-weight: 700;
    text-transform: uppercase;
}

.elementor-6494 .elementor-element.elementor-element-e6e9958 .menu-area .navbar ul li:hover>a,
.elementor-6494 .elementor-element.elementor-element-e6e9958 .menu-area .navbar ul>li.menu-item-has-children:hover>a:before,
.elementor-6494 .elementor-element.elementor-element-e6e9958 .menu-area .navbar ul li.current-menu-item a {
    color: #F78A7F;
}

.elementor-6494 .elementor-element.elementor-element-e6e9958 .sticky-menu.menu-area .navbar ul li:hover>a,
.elementor-6494 .elementor-element.elementor-element-e6e9958 .sticky-menu.menu-area .navbar ul li.current-menu-item a {
    color: #F78A7F;
}

#reactheme-header .sticky-wrapper .sticky {
    background: #FFFFFF !important;
}

#reactheme-header .sticky-wrapper .sticky .bg-remove {
    background: #FFFFFF !important;
}

.elementor-6494 .elementor-element.elementor-element-e6e9958 .menu-area .navbar ul li ul.sub-menu li a {
    color: #1F1F25;
}

.elementor-6494 .elementor-element.elementor-element-e6e9958 .menu-area .navbar ul li ul.sub-menu li:hover>a {
    color: #FF7029;
}

.elementor-6494 .elementor-element.elementor-element-e6e9958 .menu-area .navbar ul li ul.sub-menu:after {
    border-bottom-color: #FF7029;
}

.elementor-6494 .elementor-element.elementor-element-e6e9958 .menu-area .navbar ul li ul.sub-menu li a {
    text-transform: capitalize;
}

.elementor-6494 .elementor-element.elementor-element-e6e9958 .sub-menu li.menu-item:not(:last-child) {
    border-bottom-style: solid;
}

.elementor-6494 .elementor-element.elementor-element-e6e9958 .sub-menu li.menu-item:not(:last-child),
.elementor-6494 .elementor-element.elementor-element-e6e9958 nav.hfe-dropdown li.menu-item:not(:last-child),
.elementor-6494 .elementor-element.elementor-element-e6e9958 nav.hfe-dropdown-expandible li.menu-item:not(:last-child) {
    border-bottom-color: #EBEBEB;
    border-bottom-width: 1px;
}

#mobile_menu .submenu-button:after {
    color: #FFFFFF;
}

.menu-wrap-off .inner-offcan .nav-link-container .close-button {
    color: #FFFFFF;
}

.offcanvas-icon.layout-1 li a svg rect {
    fill: #FFFFFF;
}

.elementor-6494 .elementor-element.elementor-element-dbeb8e0 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --justify-content: flex-end;
    --align-items: center;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-6494 .elementor-element.elementor-element-f19f4ae .hfe-input-focus .hfe-search-icon-toggle input[type=search] {
    width: 250px;
}

.elementor-6494 .elementor-element.elementor-element-f19f4ae .hfe-search-icon-toggle input[type=search] {
    padding: 0 calc( 21px / 2);
}

.elementor-6494 .elementor-element.elementor-element-f19f4ae .hfe-search-icon-toggle i.fa-search:before {
    font-size: 21px;
}

.elementor-6494 .elementor-element.elementor-element-f19f4ae .hfe-search-icon-toggle i.fa-search,
.elementor-6494 .elementor-element.elementor-element-f19f4ae .hfe-search-icon-toggle {
    width: 21px;
}

.elementor-6494 .elementor-element.elementor-element-f19f4ae .rts-search-button-wrapper .sticky_search i {
    font-size: 21px;
    color: #1F1F25;
}

.elementor-6494 .elementor-element.elementor-element-f19f4ae .hfe-search-form__container button#clear i:before,
.elementor-6494 .elementor-element.elementor-element-f19f4ae .hfe-search-icon-toggle button#clear i:before,
.elementor-6494 .elementor-element.elementor-element-f19f4ae .hfe-search-form__container button#clear-with-button i:before {
    font-size: 20px;
}

.close-search:before {
    font-size: 20px;
    line-height: 20px;
}

.elementor-6494 .elementor-element.elementor-element-f19f4ae>.elementor-widget-container {
    margin: 0px 5px 0px 0px;
}

.elementor-6494 .elementor-element.elementor-element-f19f4ae .hfe-input-focus .hfe-search-form__input:focus {
    background-color: #ededed;
}

.elementor-6494 .elementor-element.elementor-element-f19f4ae .hfe-input-focus .hfe-search-icon-toggle .hfe-search-form__input {
    border-style: none;
    border-radius: 3px;
}

.elementor-6494 .elementor-element.elementor-element-f19f4ae .hfe-search-icon-toggle i {
    color: #1F1F25;
    border-color: #1F1F25;
    fill: #1F1F25;
}

.elementor-6494 .elementor-element.elementor-element-f19f4ae .hfe-search-form__container button#clear-with-button,
.elementor-6494 .elementor-element.elementor-element-f19f4ae .hfe-search-form__container button#clear,
.elementor-6494 .elementor-element.elementor-element-f19f4ae .close-search,
.elementor-6494 .elementor-element.elementor-element-f19f4ae .hfe-search-icon-toggle button#clear {
    color: #7a7a7a;
}

.elementor-6494 .elementor-element.elementor-element-ca17026 .menu-cart-area i {
    color: #040404;
}

.elementor-6494 .elementor-element.elementor-element-ca17026 .menu-cart-area:hover i {
    color: #040404;
}

.elementor-6494 .elementor-element.elementor-element-ca17026 .menu-cart-area span.icon-num {
    color: #FFFFFF;
    background: #F78A7F;
}

.elementor-6494 .elementor-element.elementor-element-ca17026 .rselements-product-list .product-btn a {
    color: #fff;
    background-color: #333;
}

.elementor-6494 .elementor-element.elementor-element-ca17026 .product-img.overlay .product-btn a {
    color: #fff;
    background-color: #333;
}

.elementor-6494 .elementor-element.elementor-element-ca17026 .rselements-product-list .product-btn a:hover {
    color: #fff;
}

.elementor-6494 .elementor-element.elementor-element-ca17026 .product-item:hover .overlay .product-btn a:hover {
    color: #fff;
    background-color: #333;
}

.elementor-6494 .elementor-element.elementor-element-ca17026 .rselements-product-list .product-btn a:hover {
    background-color: #333;
}

.elementor-6494 .elementor-element.elementor-element-b62529e .react-button a::before,
.elementor-6494 .elementor-element.elementor-element-b62529e .rt-btn-3 a,
.elementor-6494 .elementor-element.elementor-element-b62529e .react-button a {
    background-color: #F78A7F;
}

.elementor-6494 .elementor-element.elementor-element-b62529e>.elementor-widget-container {
    margin: 0px 0px 0px 20px;
}

.elementor-6494 .elementor-element.elementor-element-b62529e .react-button i {
    margin-left: 0px;
    top: 0px;
}

.elementor-6494 .elementor-element.elementor-element-b62529e .react-button a svg {
    margin-left: 0px;
    top: 0px;
}

.elementor-6494 .elementor-element.elementor-element-b62529e .react-button a {
    color: #010101;
    padding: 0px 0px 0px 0px;
}

.elementor-6494 .elementor-element.elementor-element-b62529e .rt-btn-3 a {
    color: #010101;
    padding: 0px 0px 0px 0px;
}

.elementor-6494 .elementor-element.elementor-element-b62529e .react-button a svg path {
    fill: #010101;
}

.elementor-6494 .elementor-element.elementor-element-b62529e .react-button a:hover {
    color: #FF7029;
}

.elementor-6494 .elementor-element.elementor-element-b62529e .rt-btn-3 a:hover {
    color: #FF7029;
}

.elementor-6494 .elementor-element.elementor-element-b62529e .react-button a:hover svg path {
    fill: #FF7029;
}

@media(max-width:1024px) {
    .elementor-6494 .elementor-element.elementor-element-4800893 .hfe-site-logo {
        text-align: left;
    }
    .elementor-6494 .elementor-element.elementor-element-e6e9958 .menu-area {
        text-align: right;
    }
    body:not(.rtl) .elementor-6494 .elementor-element.elementor-element-e6e9958.hfe-nav-menu__breakpoint-tablet .hfe-nav-menu__layout-horizontal .hfe-nav-menu>li.menu-item:not(:last-child) {
        margin-right: 0px;
    }
    body .elementor-6494 .elementor-element.elementor-element-e6e9958 nav.hfe-nav-menu__layout-vertical .hfe-nav-menu>li.menu-item:not(:last-child) {
        margin-bottom: 0px;
    }
}

@media(min-width:768px) {
    .elementor-6494 .elementor-element.elementor-element-541e7c8 {
        --content-width: 1320px;
    }
    .elementor-6494 .elementor-element.elementor-element-da2c989 {
        --content-width: 1320px;
    }
    .elementor-6494 .elementor-element.elementor-element-28e4e3b {
        --width: 24%;
    }
    .elementor-6494 .elementor-element.elementor-element-e3d3aa5 {
        --width: 50%;
    }
    .elementor-6494 .elementor-element.elementor-element-dbeb8e0 {
        --width: 26%;
    }
}

@media(max-width:767px) {
    .elementor-6494 .elementor-element.elementor-element-d181ffd {
        --flex-wrap: wrap;
    }
    .elementor-6494 .elementor-element.elementor-element-a114821 {
        --flex-wrap: wrap;
    }
    .elementor-6494 .elementor-element.elementor-element-28e4e3b {
        --width: 45%;
    }
    .elementor-6494 .elementor-element.elementor-element-e3d3aa5 {
        --width: 50%;
    }
    .elementor-6494 .elementor-element.elementor-element-e6e9958 .menu-area {
        text-align: right;
    }
    body:not(.rtl) .elementor-6494 .elementor-element.elementor-element-e6e9958.hfe-nav-menu__breakpoint-mobile .hfe-nav-menu__layout-horizontal .hfe-nav-menu>li.menu-item:not(:last-child) {
        margin-right: 0px;
    }
    body .elementor-6494 .elementor-element.elementor-element-e6e9958 nav.hfe-nav-menu__layout-vertical .hfe-nav-menu>li.menu-item:not(:last-child) {
        margin-bottom: 0px;
    }
}