.elementor-10584 .elementor-element.elementor-element-0370d5a {
    --display: flex;
    --gap: 0px 0px;
    --row-gap: 0px;
    --column-gap: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-10584 .elementor-element.elementor-element-7e65eca {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --padding-top: 90px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-10584 .elementor-element.elementor-element-a62641e {
    --display: flex;
}

.elementor-10584 .elementor-element.elementor-element-814c238>.elementor-widget-container {
    margin: 0px 0px 3px 0px;
}

.elementor-10584 .elementor-element.elementor-element-814c238 .react-heading span.watermark {
    font-size: 100px;
}

.elementor-10584 .elementor-element.elementor-element-814c238 .react-heading span.watermark {
    left: 22%;
}

.elementor-10584 .elementor-element.elementor-element-814c238 .react-heading {
    text-align: left;
}

.elementor-10584 .elementor-element.elementor-element-814c238 .image-heading {
    justify-content: left;
}

.elementor-10584 .elementor-element.elementor-element-814c238 .react-heading .title-inner .title {
    margin: 0px 0px 0px 0px;
}

.elementor-10584 .elementor-element.elementor-element-814c238 .react-heading .title-inner .sub-text {
    text-transform: uppercase;
    letter-spacing: 0.08em;
    margin: 0px 0px 8px 0px;
}

.elementor-10584 .elementor-element.elementor-element-814c238 .react-heading .description p,
.description {
    font-size: 16px;
    font-weight: 500;
}

.elementor-10584 .elementor-element.elementor-element-814c238 .react-heading .description {
    color: #74787C;
}

.elementor-10584 .elementor-element.elementor-element-814c238 .react-heading .description p {
    color: #74787C;
    margin: 0px 0px 0px 0px;
}

.elementor-10584 .elementor-element.elementor-element-814c238 .react-heading .description p a {
    color: #74787C;
}

.elementor-10584 .elementor-element.elementor-element-814c238 .description {
    color: #74787C;
}

.elementor-10584 .elementor-element.elementor-element-814c238 .description {
    margin: 0px 0px 0px 0px;
}

.elementor-10584 .elementor-element.elementor-element-7effaaa {
    margin: 0px 0px calc(var(--kit-widget-spacing, 0px) + 20px) 0px;
}

.elementor-10584 .elementor-element.elementor-element-4320418 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --padding-top: 190px;
    --padding-bottom: 0px;
    --padding-left: 30px;
    --padding-right: 0px;
}

.elementor-10584 .elementor-element.elementor-element-0265a1d {
    --display: flex;
}

.elementor-10584 .elementor-element.elementor-element-180d2b7 {
    border-radius: 10px 10px 10px 10px;
    --icon-box-icon-margin: 20px;
}

.elementor-10584 .elementor-element.elementor-element-180d2b7 .elementor-icon-box-title {
    margin-bottom: 0px;
    color: #1F1F25;
}

.elementor-10584 .elementor-element.elementor-element-180d2b7 .elementor-icon-box-title,
.elementor-10584 .elementor-element.elementor-element-180d2b7 .elementor-icon-box-title a {
    font-family: "Exo", Sans-serif;
    font-size: 24px;
    font-weight: 600;
}

.elementor-10584 .elementor-element.elementor-element-180d2b7 .elementor-icon-box-description {
    font-family: "Albert Sans", Sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #1F1F25;
}

.elementor-10584 .elementor-element.elementor-element-570ab99 {
    --divider-border-style: solid;
    --divider-color: #D9D9D9;
    --divider-border-width: 1px;
}

.elementor-10584 .elementor-element.elementor-element-570ab99 .elementor-divider-separator {
    width: 100%;
}

.elementor-10584 .elementor-element.elementor-element-570ab99 .elementor-divider {
    padding-block-start: 0px;
    padding-block-end: 0px;
}

.elementor-10584 .elementor-element.elementor-element-1bcba68 {
    border-radius: 10px 10px 10px 10px;
    --icon-box-icon-margin: 20px;
}

.elementor-10584 .elementor-element.elementor-element-1bcba68 .elementor-icon-box-title {
    margin-bottom: 0px;
    color: #1F1F25;
}

.elementor-10584 .elementor-element.elementor-element-1bcba68 .elementor-icon-box-title,
.elementor-10584 .elementor-element.elementor-element-1bcba68 .elementor-icon-box-title a {
    font-family: "Exo", Sans-serif;
    font-size: 24px;
    font-weight: 600;
}

.elementor-10584 .elementor-element.elementor-element-1bcba68 .elementor-icon-box-description {
    font-family: "Albert Sans", Sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #1F1F25;
}

.elementor-10584 .elementor-element.elementor-element-b4ceab5 {
    --divider-border-style: solid;
    --divider-color: #D9D9D9;
    --divider-border-width: 1px;
}

.elementor-10584 .elementor-element.elementor-element-b4ceab5 .elementor-divider-separator {
    width: 100%;
}

.elementor-10584 .elementor-element.elementor-element-b4ceab5 .elementor-divider {
    padding-block-start: 0px;
    padding-block-end: 0px;
}

.elementor-10584 .elementor-element.elementor-element-fac69ac .react-button a::before,
.elementor-10584 .elementor-element.elementor-element-fac69ac .rt-btn-3 a,
.elementor-10584 .elementor-element.elementor-element-fac69ac .react-button a {
    background-color: #F78A7F;
}

.elementor-10584 .elementor-element.elementor-element-fac69ac {
    width: var( --container-widget-width, 107.902%);
    max-width: 107.902%;
    --container-widget-width: 107.902%;
    --container-widget-flex-grow: 0;
}

.elementor-10584 .elementor-element.elementor-element-fac69ac>.elementor-widget-container {
    margin: 25px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-10584 .elementor-element.elementor-element-fac69ac .react-button i {
    margin-left: 10px;
    top: 0px;
}

.elementor-10584 .elementor-element.elementor-element-fac69ac .react-button a svg {
    margin-left: 10px;
    top: 0px;
}

.elementor-10584 .elementor-element.elementor-element-fac69ac .react-button a {
    color: #F7ECEB;
    padding: 20px 50px 20px 50px;
    border-radius: 0px 0px 0px 0px;
}

.elementor-10584 .elementor-element.elementor-element-fac69ac .rt-btn-3 a {
    color: #F7ECEB;
    padding: 20px 50px 20px 50px;
    border-radius: 0px 0px 0px 0px;
}

.elementor-10584 .elementor-element.elementor-element-fac69ac .react-button a svg path {
    fill: #F7ECEB;
}

.elementor-10584 .elementor-element.elementor-element-fac69ac .react-button a::before {
    border-radius: 0px 0px 0px 0px;
}

.elementor-10584 .elementor-element.elementor-element-7aa070f {
    border-radius: 10px 10px 10px 10px;
    --icon-box-icon-margin: 20px;
}

.elementor-10584 .elementor-element.elementor-element-7aa070f .elementor-icon-box-title {
    margin-bottom: 0px;
    color: #1F1F25;
}

.elementor-10584 .elementor-element.elementor-element-7aa070f .elementor-icon-box-title,
.elementor-10584 .elementor-element.elementor-element-7aa070f .elementor-icon-box-title a {
    font-family: "Exo", Sans-serif;
    font-size: 24px;
    font-weight: 600;
}

.elementor-10584 .elementor-element.elementor-element-7aa070f .elementor-icon-box-description {
    font-family: "Albert Sans", Sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #1F1F25;
}

.elementor-10584 .elementor-element.elementor-element-72fbb95 {
    --display: flex;
}

.elementor-10584 .elementor-element.elementor-element-276e117>.elementor-widget-container {
    margin: 20px 0px 0px 0px;
}

.elementor-10584 .elementor-element.elementor-element-7189e7d {
    padding: 8px 0px 0px 0px;
    bottom: 103px;
    text-align: left;
}

body:not(.rtl) .elementor-10584 .elementor-element.elementor-element-7189e7d {
    left: -85px;
}

body.rtl .elementor-10584 .elementor-element.elementor-element-7189e7d {
    right: -85px;
}

.elementor-10584 .elementor-element.elementor-element-1105069 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --align-items: stretch;
    --gap: 10px 10px;
    --row-gap: 10px;
    --column-gap: 10px;
    --padding-top: 25px;
    --padding-bottom: 90px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-10584 .elementor-element.elementor-element-de9b906 {
    --display: flex;
}

.elementor-10584 .elementor-element.elementor-element-c379da1 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --align-items: stretch;
    --gap: 10px 10px;
    --row-gap: 10px;
    --column-gap: 10px;
}

.elementor-10584 .elementor-element.elementor-element-80e9113 {
    --display: flex;
}

.elementor-10584 .elementor-element.elementor-element-56ced1b {
    --display: flex;
}

.elementor-10584 .elementor-element.elementor-element-9dc25a9 {
    --display: flex;
}

.elementor-10584 .elementor-element.elementor-element-63de863 {
    --display: flex;
}

.elementor-10584 .elementor-element.elementor-element-648fcd3 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --gap: 0px 0px;
    --row-gap: 0px;
    --column-gap: 0px;
    --padding-top: 100px;
    --padding-bottom: 100px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-10584 .elementor-element.elementor-element-648fcd3:not(.elementor-motion-effects-element-type-background),
.elementor-10584 .elementor-element.elementor-element-648fcd3>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #F6F6F6;
}

.elementor-10584 .elementor-element.elementor-element-1a814c7 {
    --display: flex;
}

.elementor-10584 .elementor-element.elementor-element-25ce299>.elementor-widget-container {
    margin: 0px 0px 35px 0px;
}

.elementor-10584 .elementor-element.elementor-element-25ce299 .react-heading span.watermark {
    font-size: 100px;
}

.elementor-10584 .elementor-element.elementor-element-25ce299 .react-heading span.watermark {
    left: 22%;
}

.elementor-10584 .elementor-element.elementor-element-25ce299 .react-heading {
    text-align: center;
}

.elementor-10584 .elementor-element.elementor-element-25ce299 .image-heading {
    justify-content: center;
}

.elementor-10584 .elementor-element.elementor-element-25ce299 .react-heading .title-inner .title {
    margin: 0px 0px 0px 0px;
}

.elementor-10584 .elementor-element.elementor-element-25ce299 .react-heading .title-inner .sub-text {
    text-transform: uppercase;
    letter-spacing: 0.08em;
    color: #F78A7F;
    margin: 0px 0px 8px 0px;
}

.elementor-10584 .elementor-element.elementor-element-25ce299 .react-heading .description p,
.description {
    font-size: 16px;
    font-weight: 500;
}

.elementor-10584 .elementor-element.elementor-element-25ce299 .react-heading .description {
    color: #74787C;
}

.elementor-10584 .elementor-element.elementor-element-25ce299 .react-heading .description p {
    color: #74787C;
    margin: 20px 0px 0px 0px;
}

.elementor-10584 .elementor-element.elementor-element-25ce299 .react-heading .description p a {
    color: #74787C;
}

.elementor-10584 .elementor-element.elementor-element-25ce299 .description {
    color: #74787C;
}

.elementor-10584 .elementor-element.elementor-element-25ce299 .description {
    margin: 20px 0px 0px 0px;
}

.elementor-10584 .elementor-element.elementor-element-e6e72cd {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --gap: 0px 0px;
    --row-gap: 0px;
    --column-gap: 0px;
}

.elementor-10584 .elementor-element.elementor-element-87f8d76 {
    --display: flex;
}

.elementor-10584 .elementor-element.elementor-element-52aaf15>.elementor-widget-container {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #1F1F251A;
    border-radius: 10px 10px 10px 10px;
}

.elementor-10584 .elementor-element.elementor-element-52aaf15 .single-service-solari .icon-area svg path {
    fill: #1F1F25;
}

.elementor-10584 .elementor-element.elementor-element-52aaf15 .icon svg path {
    fill: #1F1F25;
}

.elementor-10584 .elementor-element.elementor-element-52aaf15 .icon-area svg path {
    fill: #1F1F25;
}

.elementor-10584 .elementor-element.elementor-element-52aaf15 .single-service-solari .icon-area i {
    fill: #1F1F25;
}

.elementor-10584 .elementor-element.elementor-element-52aaf15 .icon i {
    fill: #1F1F25;
}

.elementor-10584 .elementor-element.elementor-element-52aaf15 .icon-area i {
    fill: #1F1F25;
}

.elementor-10584 .elementor-element.elementor-element-52aaf15 .rts-single-service-solar-energy .icon {
    border: 1px solid #1F1F25;
    background: #02010100;
}

.elementor-10584 .elementor-element.elementor-element-52aaf15 .single-solari-service-start .icon-area {
    border: 1px solid #1F1F25;
    background: #02010100;
    border-radius: 50px 50px 50px 50px !important;
}

.elementor-10584 .elementor-element.elementor-element-52aaf15 .single-service-start .image-area .icon {
    border: 1px solid #1F1F25;
    background: #02010100;
}

.elementor-10584 .elementor-element.elementor-element-52aaf15 .rts-single-working-process .icon {
    border: 1px solid #1F1F25;
    background: #02010100;
}

.elementor-10584 .elementor-element.elementor-element-52aaf15 .single-service-area-6 .inner-content .icon {
    border: 1px solid #1F1F25;
    background: #02010100;
}

.elementor-10584 .elementor-element.elementor-element-52aaf15 .single-service-solari::after {
    background: #F6F6F6;
}

.elementor-10584 .elementor-element.elementor-element-52aaf15 .single-service-style-four-h4 {
    background: #F6F6F6;
}

.elementor-10584 .elementor-element.elementor-element-52aaf15 .rts-single-service-solar-energy {
    background: #F6F6F6;
}

.elementor-10584 .elementor-element.elementor-element-52aaf15 .single-feature-soalri-3 {
    background: #F6F6F6;
}

.elementor-10584 .elementor-element.elementor-element-52aaf15 .single-service-start {
    background: #F6F6F6;
}

.elementor-10584 .elementor-element.elementor-element-52aaf15 .service-single-s-main {
    background: #F6F6F6;
}

.elementor-10584 .elementor-element.elementor-element-52aaf15 .single-solari-service-start::after {
    background: #F6F6F6;
}

.elementor-10584 .elementor-element.elementor-element-5a262d8 {
    --display: flex;
}

.elementor-10584 .elementor-element.elementor-element-317ce3d>.elementor-widget-container {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #1F1F251A;
    border-radius: 10px 10px 10px 10px;
}

.elementor-10584 .elementor-element.elementor-element-317ce3d .single-service-solari .icon-area svg path {
    fill: #1F1F25;
}

.elementor-10584 .elementor-element.elementor-element-317ce3d .icon svg path {
    fill: #1F1F25;
}

.elementor-10584 .elementor-element.elementor-element-317ce3d .icon-area svg path {
    fill: #1F1F25;
}

.elementor-10584 .elementor-element.elementor-element-317ce3d .single-service-solari .icon-area i {
    fill: #1F1F25;
}

.elementor-10584 .elementor-element.elementor-element-317ce3d .icon i {
    fill: #1F1F25;
}

.elementor-10584 .elementor-element.elementor-element-317ce3d .icon-area i {
    fill: #1F1F25;
}

.elementor-10584 .elementor-element.elementor-element-317ce3d .rts-single-service-solar-energy .icon {
    border: 1px solid #1F1F25;
    background: #02010100;
}

.elementor-10584 .elementor-element.elementor-element-317ce3d .single-solari-service-start .icon-area {
    border: 1px solid #1F1F25;
    background: #02010100;
    border-radius: 50px 50px 50px 50px !important;
}

.elementor-10584 .elementor-element.elementor-element-317ce3d .single-service-start .image-area .icon {
    border: 1px solid #1F1F25;
    background: #02010100;
}

.elementor-10584 .elementor-element.elementor-element-317ce3d .rts-single-working-process .icon {
    border: 1px solid #1F1F25;
    background: #02010100;
}

.elementor-10584 .elementor-element.elementor-element-317ce3d .single-service-area-6 .inner-content .icon {
    border: 1px solid #1F1F25;
    background: #02010100;
}

.elementor-10584 .elementor-element.elementor-element-317ce3d .single-service-solari::after {
    background: #F6F6F6;
}

.elementor-10584 .elementor-element.elementor-element-317ce3d .single-service-style-four-h4 {
    background: #F6F6F6;
}

.elementor-10584 .elementor-element.elementor-element-317ce3d .rts-single-service-solar-energy {
    background: #F6F6F6;
}

.elementor-10584 .elementor-element.elementor-element-317ce3d .single-feature-soalri-3 {
    background: #F6F6F6;
}

.elementor-10584 .elementor-element.elementor-element-317ce3d .single-service-start {
    background: #F6F6F6;
}

.elementor-10584 .elementor-element.elementor-element-317ce3d .service-single-s-main {
    background: #F6F6F6;
}

.elementor-10584 .elementor-element.elementor-element-317ce3d .single-solari-service-start::after {
    background: #F6F6F6;
}

.elementor-10584 .elementor-element.elementor-element-8f33ed6 {
    --display: flex;
}

.elementor-10584 .elementor-element.elementor-element-c0930d4>.elementor-widget-container {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #1F1F251A;
    border-radius: 10px 10px 10px 10px;
}

.elementor-10584 .elementor-element.elementor-element-c0930d4 .single-service-solari .icon-area svg path {
    fill: #1F1F25;
}

.elementor-10584 .elementor-element.elementor-element-c0930d4 .icon svg path {
    fill: #1F1F25;
}

.elementor-10584 .elementor-element.elementor-element-c0930d4 .icon-area svg path {
    fill: #1F1F25;
}

.elementor-10584 .elementor-element.elementor-element-c0930d4 .single-service-solari .icon-area i {
    fill: #1F1F25;
}

.elementor-10584 .elementor-element.elementor-element-c0930d4 .icon i {
    fill: #1F1F25;
}

.elementor-10584 .elementor-element.elementor-element-c0930d4 .icon-area i {
    fill: #1F1F25;
}

.elementor-10584 .elementor-element.elementor-element-c0930d4 .rts-single-service-solar-energy .icon {
    border: 1px solid #1F1F25;
    background: #02010100;
}

.elementor-10584 .elementor-element.elementor-element-c0930d4 .single-solari-service-start .icon-area {
    border: 1px solid #1F1F25;
    background: #02010100;
    border-radius: 50px 50px 50px 50px !important;
}

.elementor-10584 .elementor-element.elementor-element-c0930d4 .single-service-start .image-area .icon {
    border: 1px solid #1F1F25;
    background: #02010100;
}

.elementor-10584 .elementor-element.elementor-element-c0930d4 .rts-single-working-process .icon {
    border: 1px solid #1F1F25;
    background: #02010100;
}

.elementor-10584 .elementor-element.elementor-element-c0930d4 .single-service-area-6 .inner-content .icon {
    border: 1px solid #1F1F25;
    background: #02010100;
}

.elementor-10584 .elementor-element.elementor-element-c0930d4 .single-service-solari::after {
    background: #F6F6F6;
}

.elementor-10584 .elementor-element.elementor-element-c0930d4 .single-service-style-four-h4 {
    background: #F6F6F6;
}

.elementor-10584 .elementor-element.elementor-element-c0930d4 .rts-single-service-solar-energy {
    background: #F6F6F6;
}

.elementor-10584 .elementor-element.elementor-element-c0930d4 .single-feature-soalri-3 {
    background: #F6F6F6;
}

.elementor-10584 .elementor-element.elementor-element-c0930d4 .single-service-start {
    background: #F6F6F6;
}

.elementor-10584 .elementor-element.elementor-element-c0930d4 .service-single-s-main {
    background: #F6F6F6;
}

.elementor-10584 .elementor-element.elementor-element-c0930d4 .single-solari-service-start::after {
    background: #F6F6F6;
}

.elementor-10584 .elementor-element.elementor-element-b170eb4 {
    --display: flex;
}

.elementor-10584 .elementor-element.elementor-element-2f816d6>.elementor-widget-container {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #1F1F251A;
    border-radius: 10px 10px 10px 10px;
}

.elementor-10584 .elementor-element.elementor-element-2f816d6 .single-service-solari .icon-area svg path {
    fill: #1F1F25;
}

.elementor-10584 .elementor-element.elementor-element-2f816d6 .icon svg path {
    fill: #1F1F25;
}

.elementor-10584 .elementor-element.elementor-element-2f816d6 .icon-area svg path {
    fill: #1F1F25;
}

.elementor-10584 .elementor-element.elementor-element-2f816d6 .single-service-solari .icon-area i {
    fill: #1F1F25;
}

.elementor-10584 .elementor-element.elementor-element-2f816d6 .icon i {
    fill: #1F1F25;
}

.elementor-10584 .elementor-element.elementor-element-2f816d6 .icon-area i {
    fill: #1F1F25;
}

.elementor-10584 .elementor-element.elementor-element-2f816d6 .rts-single-service-solar-energy .icon {
    border: 1px solid #1F1F25;
    background: #02010100;
}

.elementor-10584 .elementor-element.elementor-element-2f816d6 .single-solari-service-start .icon-area {
    border: 1px solid #1F1F25;
    background: #02010100;
    border-radius: 50px 50px 50px 50px !important;
}

.elementor-10584 .elementor-element.elementor-element-2f816d6 .single-service-start .image-area .icon {
    border: 1px solid #1F1F25;
    background: #02010100;
}

.elementor-10584 .elementor-element.elementor-element-2f816d6 .rts-single-working-process .icon {
    border: 1px solid #1F1F25;
    background: #02010100;
}

.elementor-10584 .elementor-element.elementor-element-2f816d6 .single-service-area-6 .inner-content .icon {
    border: 1px solid #1F1F25;
    background: #02010100;
}

.elementor-10584 .elementor-element.elementor-element-2f816d6 .single-service-solari::after {
    background: #F6F6F6;
}

.elementor-10584 .elementor-element.elementor-element-2f816d6 .single-service-style-four-h4 {
    background: #F6F6F6;
}

.elementor-10584 .elementor-element.elementor-element-2f816d6 .rts-single-service-solar-energy {
    background: #F6F6F6;
}

.elementor-10584 .elementor-element.elementor-element-2f816d6 .single-feature-soalri-3 {
    background: #F6F6F6;
}

.elementor-10584 .elementor-element.elementor-element-2f816d6 .single-service-start {
    background: #F6F6F6;
}

.elementor-10584 .elementor-element.elementor-element-2f816d6 .service-single-s-main {
    background: #F6F6F6;
}

.elementor-10584 .elementor-element.elementor-element-2f816d6 .single-solari-service-start::after {
    background: #F6F6F6;
}

.elementor-10584 .elementor-element.elementor-element-68e4df2 {
    --display: flex;
    --gap: 0px 0px;
    --row-gap: 0px;
    --column-gap: 0px;
}

.elementor-10584 .elementor-element.elementor-element-2dfe4ee {
    text-align: center;
}

.elementor-10584 .elementor-element.elementor-element-2dfe4ee a {
    color: #F78A7F;
}

.elementor-10584 .elementor-element.elementor-element-20aea6e {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 100px;
    --padding-bottom: 80px;
    --padding-left: 10px;
    --padding-right: 10px;
}

.elementor-10584 .elementor-element.elementor-element-41b0522 {
    --display: flex;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-10584 .elementor-element.elementor-element-5cf58e4>.elementor-widget-container {
    margin: 0px 0px 38px 0px;
}

.elementor-10584 .elementor-element.elementor-element-5cf58e4 .react-heading span.watermark {
    font-size: 100px;
}

.elementor-10584 .elementor-element.elementor-element-5cf58e4 .react-heading span.watermark {
    left: 22%;
    top: -50px;
}

.elementor-10584 .elementor-element.elementor-element-5cf58e4 .react-heading {
    text-align: left;
}

.elementor-10584 .elementor-element.elementor-element-5cf58e4 .image-heading {
    justify-content: left;
}

.elementor-10584 .elementor-element.elementor-element-5cf58e4 .react-heading .title-inner .title {
    margin: 0px 0px 0px 0px;
}

.elementor-10584 .elementor-element.elementor-element-5cf58e4 .react-heading .title-inner .sub-text {
    text-transform: uppercase;
    letter-spacing: 0.08em;
    margin: 0px 0px 8px 0px;
}

.elementor-10584 .elementor-element.elementor-element-5cf58e4 .react-heading .description p,
.description {
    font-size: 16px;
    font-weight: 500;
}

.elementor-10584 .elementor-element.elementor-element-5cf58e4 .react-heading .description {
    color: #74787C;
}

.elementor-10584 .elementor-element.elementor-element-5cf58e4 .react-heading .description p {
    color: #74787C;
    margin: 20px 0px 0px 0px;
}

.elementor-10584 .elementor-element.elementor-element-5cf58e4 .react-heading .description p a {
    color: #74787C;
}

.elementor-10584 .elementor-element.elementor-element-5cf58e4 .description {
    color: #74787C;
}

.elementor-10584 .elementor-element.elementor-element-5cf58e4 .description {
    margin: 20px 0px 0px 0px;
}

.elementor-10584 .elementor-element.elementor-element-e1de190 .about__button__wrap li button {
    font-size: 18px;
    font-weight: 600;
    margin: 0px 0px 0px 0px;
    background: #FFFFFF;
}

.elementor-10584 .elementor-element.elementor-element-e1de190 .rts-tab-advance .nav li button.active {
    background: #F78A7F;
}

.elementor-10584 .elementor-element.elementor-element-e1de190 .about__button__wrap li button.active {
    background: #F78A7F;
}

.elementor-10584 .elementor-element.elementor-element-e1de190 .single__tab__link.active .icon svg path {
    fill: #FFFFFF;
}

.elementor-10584 .elementor-element.elementor-element-e1de190 .single__tab__link.active .button_content {
    color: #FFFFFF;
}

.elementor-10584 .elementor-element.elementor-element-e1de190 .rts-tab-advance .nav li {
    margin: 0px 0px 0px 0px;
}

.elementor-10584 .elementor-element.elementor-element-e1de190 .rstab-main ul.nav li a {
    color: #1F1F25;
}

.elementor-10584 .elementor-element.elementor-element-e1de190 .rts-tab-advance .nav li button .button_content {
    color: #1F1F25;
}

.elementor-10584 .elementor-element.elementor-element-e1de190 .about__button__wrap li button {
    color: #1F1F25;
}

.elementor-10584 .elementor-element.elementor-element-e1de190 .rts-tab-advance .nav li button {
    background: #FFFFFF;
}

.elementor-10584 .elementor-element.elementor-element-e1de190 .rts-tab-advance .nav li button,
.elementor-10584 .elementor-element.elementor-element-e1de190 .abouttabarea ul li button.nav-link {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #FF70292E;
}

.elementor-10584 .elementor-element.elementor-element-e1de190 .abouttabarea ul li button:hover {
    background: #F78A7F;
}

.elementor-10584 .elementor-element.elementor-element-e1de190 .rstab-main ul.nav li a:hover {
    background: #F78A7F;
}

.elementor-10584 .elementor-element.elementor-element-e1de190 .abouttabarea ul li button:hover .icon svg path {
    fill: #FFFFFF;
}

.elementor-10584 .elementor-element.elementor-element-e1de190 .abouttabarea ul li button:hover .button_content {
    color: #FFFFFF;
}

.elementor-10584 .elementor-element.elementor-element-e1de190 .rstab-main ul.nav li a i {
    color: #FF7029 !important;
}

.elementor-10584 .elementor-element.elementor-element-e1de190 .rts-tab-advance .nav li button .icon i {
    color: #FF7029;
}

.elementor-10584 .elementor-element.elementor-element-e1de190 .abouttabarea ul li button .icon svg path {
    fill: #FF7029;
}

.elementor-10584 .elementor-element.elementor-element-e1de190 .rstab-main .tab-content {
    margin-top: 0px;
    padding: 20px;
}

.elementor-10584 .elementor-element.elementor-element-bd1e529 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --justify-content: space-between;
    --align-items: center;
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 100px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-10584 .elementor-element.elementor-element-bd1e529:not(.elementor-motion-effects-element-type-background),
.elementor-10584 .elementor-element.elementor-element-bd1e529>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #F78A7F;
}

.elementor-10584 .elementor-element.elementor-element-e9c6b54 .react-heading span.watermark {
    font-size: 100px;
}

.elementor-10584 .elementor-element.elementor-element-e9c6b54 .react-heading span.watermark {
    left: 22%;
    top: -50px;
}

.elementor-10584 .elementor-element.elementor-element-e9c6b54 .react-heading {
    text-align: left;
}

.elementor-10584 .elementor-element.elementor-element-e9c6b54 .image-heading {
    justify-content: left;
}

.elementor-10584 .elementor-element.elementor-element-e9c6b54 .react-heading .title-inner .title {
    color: #FFFFFF;
    margin: 0px 0px 0px 0px;
}

.elementor-10584 .elementor-element.elementor-element-e9c6b54 .react-heading .title-inner .sub-text {
    text-transform: uppercase;
    letter-spacing: 0.08em;
    color: #FFFFFFDE;
}

.elementor-10584 .elementor-element.elementor-element-e9c6b54 .react-heading .description p,
.description {
    font-size: 16px;
    font-weight: 500;
}

.elementor-10584 .elementor-element.elementor-element-e9c6b54 .react-heading .description {
    color: #74787C;
}

.elementor-10584 .elementor-element.elementor-element-e9c6b54 .react-heading .description p {
    color: #74787C;
    margin: 20px 0px 0px 0px;
}

.elementor-10584 .elementor-element.elementor-element-e9c6b54 .react-heading .description p a {
    color: #74787C;
}

.elementor-10584 .elementor-element.elementor-element-e9c6b54 .description {
    color: #74787C;
}

.elementor-10584 .elementor-element.elementor-element-e9c6b54 .description {
    margin: 20px 0px 0px 0px;
}

.elementor-10584 .elementor-element.elementor-element-7a52fa5 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
}

.elementor-10584 .elementor-element.elementor-element-678be7e {
    font-weight: 500;
    color: #FFFFFF;
}

.elementor-10584 .elementor-element.elementor-element-b6fc695 .react-button i {
    margin-right: 10px;
    top: 0px;
}

.elementor-10584 .elementor-element.elementor-element-b6fc695 .react-button a svg {
    margin-right: 10px;
    top: 0px;
}

.elementor-10584 .elementor-element.elementor-element-b6fc695 .react-button a {
    color: #FFFFFF;
}

.elementor-10584 .elementor-element.elementor-element-b6fc695 .rt-btn-3 a {
    color: #FFFFFF;
}

.elementor-10584 .elementor-element.elementor-element-b6fc695 .react-button a svg path {
    fill: #FFFFFF;
}

.elementor-10584 .elementor-element.elementor-element-b6fc695 .rt-btn-3 a i {
    border-style: solid;
    border-color: #FFFFFF;
}

.elementor-10584 .elementor-element.elementor-element-13779ad {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --justify-content: center;
    --align-items: center;
    --gap: 0px 0px;
    --row-gap: 0px;
    --column-gap: 0px;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 44px;
    --padding-bottom: 110px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-10584 .elementor-element.elementor-element-13779ad:not(.elementor-motion-effects-element-type-background),
.elementor-10584 .elementor-element.elementor-element-13779ad>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #F78A7F;
}

.elementor-10584 .elementor-element.elementor-element-8550b4b .air-condition-swiper-wrapper .swiper-wrapper .swiper-slide .single-case-ac .inner-content,
.elementor-10584 .elementor-element.elementor-element-8550b4b .single-case-ac .thumbnail,
.elementor-10584 .elementor-element.elementor-element-8550b4b .single-project-solari-h3 .thumbnail img {
    border-radius: 0px 0px 0px 0px;
}

.elementor-10584 .elementor-element.elementor-element-8550b4b .reactheme-addon-slider .testimonial-item {
    margin-right: 25px;
    margin-bottom: 15px;
}

.elementor-10584 .elementor-element.elementor-element-8550b4b .portfolio-item .p-title a {
    color: #F78A7F;
}

.elementor-10584 .elementor-element.elementor-element-8550b4b .rt-portfolio-style7 .rts-business-case-s-2 .inner .title {
    color: #F78A7F;
}

.elementor-10584 .elementor-element.elementor-element-8550b4b .air-condition-swiper-wrapper .swiper-wrapper .swiper-slide .single-case-ac .inner-content .inner .title {
    color: #F78A7F;
}

.elementor-10584 .elementor-element.elementor-element-8550b4b .single-project-solari-h3 .name-social-area-wrapper .name-area .title {
    color: #F78A7F;
}

.elementor-10584 .elementor-element.elementor-element-8550b4b .solari-title-area-four h2.title {
    color: #F78A7F;
}

.elementor-10584 .elementor-element.elementor-element-8550b4b .rt_widget_sliders .slick-dots {
    margin-bottom: -25px;
}

.elementor-10584 .elementor-element.elementor-element-b62e2b3 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --align-items: flex-start;
    --gap: 10px 10px;
    --row-gap: 10px;
    --column-gap: 10px;
    --padding-top: 110px;
    --padding-bottom: 110px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-10584 .elementor-element.elementor-element-11bc598 {
    --display: flex;
}

.elementor-10584 .elementor-element.elementor-element-bd11003>.elementor-widget-container {
    margin: 0px 0px 24px 0px;
}

.elementor-10584 .elementor-element.elementor-element-bd11003 .react-heading span.watermark {
    font-size: 100px;
}

.elementor-10584 .elementor-element.elementor-element-bd11003 .react-heading span.watermark {
    left: 22%;
    top: -50px;
}

.elementor-10584 .elementor-element.elementor-element-bd11003 .react-heading {
    text-align: left;
}

.elementor-10584 .elementor-element.elementor-element-bd11003 .image-heading {
    justify-content: left;
}

.elementor-10584 .elementor-element.elementor-element-bd11003 .react-heading .title-inner .title {
    margin: 0px 0px 0px 0px;
}

.elementor-10584 .elementor-element.elementor-element-bd11003 .react-heading .title-inner .sub-text {
    text-transform: uppercase;
    letter-spacing: 0.08em;
    margin: 0px 0px 8px 0px;
}

.elementor-10584 .elementor-element.elementor-element-bd11003 .react-heading .description p,
.description {
    font-size: 16px;
    font-weight: 500;
}

.elementor-10584 .elementor-element.elementor-element-bd11003 .react-heading .description {
    color: #74787C;
}

.elementor-10584 .elementor-element.elementor-element-bd11003 .react-heading .description p {
    color: #74787C;
    margin: 20px 0px 0px 0px;
}

.elementor-10584 .elementor-element.elementor-element-bd11003 .react-heading .description p a {
    color: #74787C;
}

.elementor-10584 .elementor-element.elementor-element-bd11003 .description {
    color: #74787C;
}

.elementor-10584 .elementor-element.elementor-element-bd11003 .description {
    margin: 20px 0px 0px 0px;
}

.elementor-10584 .elementor-element.elementor-element-8f90a64>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-10584 .elementor-element.elementor-element-8f90a64 .accordion-header {
    padding: 0px 0px 0px 0px;
}

.elementor-10584 .elementor-element.elementor-element-8f90a64 .rts-accordion.style2 .accordion-item .accordion-header button {
    color: #111111 !important;
    background: #F6F6F6 !important;
    border-style: none;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    padding: 20px 20px 20px 41px;
}

.elementor-10584 .elementor-element.elementor-element-8f90a64 .rts-accordion.style3 .accordion-item .accordion-header button {
    color: #111111 !important;
    background: #F6F6F6 !important;
}

.elementor-10584 .elementor-element.elementor-element-8f90a64 .rts-accordion .accordion-item .accordion-button {
    font-size: 18px;
    font-weight: 600;
}

.elementor-10584 .elementor-element.elementor-element-8f90a64 .accc .rts-accordion.style2 .accordion-item .accordion-header button .accordion-icon i,
.accc .rts-accordion.style2 .accordion-item .accordion-header button .accordion-icon-active i,
.rts-accordion.style2 .accordion-item .accordion-header button .accordion-icon i {
    font-size: 16px;
}

.elementor-10584 .elementor-element.elementor-element-8f90a64 .rts-accordion.style2 .accordion-item .accordion-header button:before {
    color: #FFFFFF !important;
    background: #F78A7F !important;
}

.elementor-10584 .elementor-element.elementor-element-8f90a64 .rts-accordion.style2 .accordion-item .accordion-header .accordion-icon-active i {
    color: #FFFFFF !important;
    background: #F78A7F !important;
}

.elementor-10584 .elementor-element.elementor-element-8f90a64 .rts-accordion.style2 .accordion-item .accordion-header button .accordion-icon i {
    background: #FF70291F !important;
}

.elementor-10584 .elementor-element.elementor-element-8f90a64 .accordion .card-body {
    background: #F6F6F6 !important;
}

.elementor-10584 .elementor-element.elementor-element-8f90a64 .rts-accordion.style2 .accordion-item .accordion-body {
    background: #F6F6F6 !important;
    padding: 10px 20px 25px 10px;
}

.elementor-10584 .elementor-element.elementor-element-8f90a64 .rts-accordion.style3 .accordion-item .accordion-body {
    background: #F6F6F6 !important;
}

.elementor-10584 .elementor-element.elementor-element-8f90a64 .rts-accordion.style2 .accordion-item {
    border-style: none;
}

.elementor-10584 .elementor-element.elementor-element-b07be70 {
    --display: flex;
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 30px;
    --padding-right: 0px;
}

.elementor-10584 .elementor-element.elementor-element-5b43124 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --align-items: stretch;
    --gap: 10px 10px;
    --row-gap: 10px;
    --column-gap: 10px;
    --margin-top: 10px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
}

.elementor-10584 .elementor-element.elementor-element-0f89ed6 {
    --display: flex;
}

.elementor-10584 .elementor-element.elementor-element-73952a4 {
    text-align: left;
}

.elementor-10584 .elementor-element.elementor-element-04a7a4f {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
}

.elementor-10584 .elementor-element.elementor-element-4cdf501>.elementor-widget-container {
    margin: 0px 0px 38px 0px;
}

.elementor-10584 .elementor-element.elementor-element-4cdf501 .react-heading span.watermark {
    font-size: 100px;
}

.elementor-10584 .elementor-element.elementor-element-4cdf501 .react-heading span.watermark {
    left: 22%;
    top: -50px;
}

.elementor-10584 .elementor-element.elementor-element-4cdf501 .react-heading {
    text-align: center;
}

.elementor-10584 .elementor-element.elementor-element-4cdf501 .image-heading {
    justify-content: center;
}

.elementor-10584 .elementor-element.elementor-element-4cdf501 .react-heading .title-inner .title {
    color: #191616;
    margin: 0px 0px 0px 0px;
}

.elementor-10584 .elementor-element.elementor-element-4cdf501 .react-heading .title-inner .title .high_light_text {
    color: #F78A7F;
}

.elementor-10584 .elementor-element.elementor-element-4cdf501 .react-heading .title-inner .sub-text {
    text-transform: uppercase;
    letter-spacing: 0.08em;
    color: #F78A7F;
    margin: 0px 0px 8px 0px;
}

.elementor-10584 .elementor-element.elementor-element-4cdf501 .react-heading .description p,
.description {
    font-size: 16px;
    font-weight: 500;
}

.elementor-10584 .elementor-element.elementor-element-4cdf501 .react-heading .description {
    color: #74787C;
}

.elementor-10584 .elementor-element.elementor-element-4cdf501 .react-heading .description p {
    color: #74787C;
    margin: 20px 0px 0px 0px;
}

.elementor-10584 .elementor-element.elementor-element-4cdf501 .react-heading .description p a {
    color: #74787C;
}

.elementor-10584 .elementor-element.elementor-element-4cdf501 .description {
    color: #74787C;
}

.elementor-10584 .elementor-element.elementor-element-4cdf501 .description {
    margin: 20px 0px 0px 0px;
}

.elementor-10584 .elementor-element.elementor-element-581fd73 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --gap: 0px 0px;
    --row-gap: 0px;
    --column-gap: 0px;
    --padding-top: 0px;
    --padding-bottom: 120px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-10584 .elementor-element.elementor-element-581fd73:not(.elementor-motion-effects-element-type-background),
.elementor-10584 .elementor-element.elementor-element-581fd73>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #F78A7F;
}

.elementor-10584 .elementor-element.elementor-element-a8fe277 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --gap: 0px 0px;
    --row-gap: 0px;
    --column-gap: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-10584 .elementor-element.elementor-element-0680eb8 {
    --display: flex;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-10584 .elementor-element.elementor-element-0680eb8:not(.elementor-motion-effects-element-type-background),
.elementor-10584 .elementor-element.elementor-element-0680eb8>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("https://dev-solar-energy-website-design.pantheonsite.io/wp-content/uploads/2024/04/image-testimonial.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-10584 .elementor-element.elementor-element-1a72be8 {
    --display: flex;
    --padding-top: 100px;
    --padding-bottom: 100px;
    --padding-left: 100px;
    --padding-right: 100px;
}

.elementor-10584 .elementor-element.elementor-element-1a72be8:not(.elementor-motion-effects-element-type-background),
.elementor-10584 .elementor-element.elementor-element-1a72be8>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #F78A7F;
}

.elementor-10584 .elementor-element.elementor-element-d2fdbc3 .testimonials-review-main-wrapper .single-review-area-soalri p.dsic,
.elementor-10584 .elementor-element.elementor-element-d2fdbc3 .testimonials-review-main-wrapper .single-review-area-soalri p {
    font-size: 16px;
    line-height: 26px;
}

.elementor-10584 .elementor-element.elementor-element-d2fdbc3 .testimonials-review-main-wrapper .single-review-area-soalri p.dsic,
.elementor-10584 .elementor-element.elementor-element-d2fdbc3 .testimonials-review-main-wrapper .single-review-area-soalri p {
    color: #FCFCFCE8;
}

.elementor-10584 .elementor-element.elementor-element-d2fdbc3 .testimonials-review-main-wrapper .single-review-area-soalri .author-area .title {
    color: #FFFFFF;
}

.elementor-10584 .elementor-element.elementor-element-d2fdbc3 .testimonials-review-main-wrapper .single-review-area-soalri .author-area span {
    color: #FFFCFCE3;
}

.elementor-10584 .elementor-element.elementor-element-cfe98dd {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --margin-top: 0px;
    --margin-bottom: -147px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 100px;
    --padding-bottom: 260px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-10584 .elementor-element.elementor-element-cfe98dd:not(.elementor-motion-effects-element-type-background),
.elementor-10584 .elementor-element.elementor-element-cfe98dd>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #F6F6F6;
}

.elementor-10584 .elementor-element.elementor-element-54cf0a3 {
    --display: flex;
}

.elementor-10584 .elementor-element.elementor-element-7680b03>.elementor-widget-container {
    margin: 0px 0px 18px 0px;
}

.elementor-10584 .elementor-element.elementor-element-7680b03 .react-heading span.watermark {
    font-size: 100px;
}

.elementor-10584 .elementor-element.elementor-element-7680b03 .react-heading span.watermark {
    left: 22%;
    top: -50px;
}

.elementor-10584 .elementor-element.elementor-element-7680b03 .react-heading {
    text-align: center;
}

.elementor-10584 .elementor-element.elementor-element-7680b03 .image-heading {
    justify-content: center;
}

.elementor-10584 .elementor-element.elementor-element-7680b03 .react-heading .title-inner .title {
    margin: 0px 0px 0px 0px;
}

.elementor-10584 .elementor-element.elementor-element-7680b03 .react-heading .title-inner .sub-text {
    text-transform: uppercase;
    letter-spacing: 0.08em;
    color: #F78A7F;
    margin: 0px 0px 8px 0px;
}

.elementor-10584 .elementor-element.elementor-element-7680b03 .react-heading .description p,
.description {
    font-size: 16px;
    font-weight: 500;
}

.elementor-10584 .elementor-element.elementor-element-7680b03 .react-heading .description {
    color: #74787C;
}

.elementor-10584 .elementor-element.elementor-element-7680b03 .react-heading .description p {
    color: #74787C;
    margin: 20px 0px 0px 0px;
}

.elementor-10584 .elementor-element.elementor-element-7680b03 .react-heading .description p a {
    color: #74787C;
}

.elementor-10584 .elementor-element.elementor-element-7680b03 .description {
    color: #74787C;
}

.elementor-10584 .elementor-element.elementor-element-7680b03 .description {
    margin: 20px 0px 0px 0px;
}

.elementor-10584 .elementor-element.elementor-element-e147064 {
    --display: flex;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-10584 .elementor-element.elementor-element-82f964e .rt-blog-slider.slider-style-1 .blog-item .blog-meta {
    background-color: #FFFFFF;
    padding: 18px 40px 12px 40px !important;
    border-style: none;
}

.elementor-10584 .elementor-element.elementor-element-82f964e .rt-blog-slider.slider-style-1 .blog-item .blog_content {
    background-color: #FFFFFF;
    padding: 0px 40px 65px 40px;
}

.elementor-10584 .elementor-element.elementor-element-82f964e .rt-blog-slider.slider-style-1 .blog-item .blog_content .blog-btn a {
    border-radius: 30px 30px 30px 30px;
    border-color: #02010124;
}

.elementor-10584 .elementor-element.elementor-element-82f964e .rts-blog-h-2-wrapper {
    margin-bottom: -20px;
    box-shadow: 0px 10px 24px 0px rgba(0, 0, 0, 0.05);
}

.elementor-10584 .elementor-element.elementor-element-82f964e .reactheme-blog-grid1 .title a {
    font-size: 24px;
    line-height: 34px;
}

.elementor-10584 .elementor-element.elementor-element-82f964e .rt-blog-slider.slider-style-1 .blog-item .col-top {
    padding: 0px 0px 0px 0px;
}

:root {
    --page-title-display: none;
}

@media(max-width:1024px) {
    .elementor-10584 .elementor-element.elementor-element-7e65eca {
        --flex-wrap: wrap;
    }
    .elementor-10584 .elementor-element.elementor-element-cdbce07 {
        text-align: left;
    }
    .elementor-10584 .elementor-element.elementor-element-4320418 {
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px;
    }
    .elementor-10584 .elementor-element.elementor-element-1105069 {
        --flex-wrap: wrap;
    }
    .elementor-10584 .elementor-element.elementor-element-c379da1 {
        --flex-wrap: wrap;
    }
    .elementor-10584 .elementor-element.elementor-element-80e9113 {
        --padding-top: 20px;
        --padding-bottom: 20px;
        --padding-left: 20px;
        --padding-right: 20px;
    }
    .elementor-10584 .elementor-element.elementor-element-56ced1b {
        --padding-top: 20px;
        --padding-bottom: 20px;
        --padding-left: 20px;
        --padding-right: 20px;
    }
    .elementor-10584 .elementor-element.elementor-element-9dc25a9 {
        --padding-top: 20px;
        --padding-bottom: 20px;
        --padding-left: 20px;
        --padding-right: 20px;
    }
    .elementor-10584 .elementor-element.elementor-element-63de863 {
        --padding-top: 20px;
        --padding-bottom: 20px;
        --padding-left: 20px;
        --padding-right: 20px;
    }
    .elementor-10584 .elementor-element.elementor-element-e6e72cd {
        --flex-wrap: wrap;
    }
    .elementor-10584 .elementor-element.elementor-element-bd1e529 {
        --padding-top: 60px;
        --padding-bottom: 0px;
        --padding-left: 20px;
        --padding-right: 20px;
    }
    .elementor-10584 .elementor-element.elementor-element-b62e2b3 {
        --flex-wrap: wrap;
    }
    .elementor-10584 .elementor-element.elementor-element-b07be70 {
        --margin-top: 20px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px;
    }
    .elementor-10584 .elementor-element.elementor-element-0f89ed6 {
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px;
    }
    .elementor-10584 .elementor-element.elementor-element-1a72be8 {
        --padding-top: 50px;
        --padding-bottom: 50px;
        --padding-left: 50px;
        --padding-right: 50px;
    }
    .elementor-10584 .elementor-element.elementor-element-82f964e .reactheme-blog-grid1 .title a {
        font-size: 24px;
        line-height: 34px;
    }
}

@media(max-width:767px) {
    .elementor-10584 .elementor-element.elementor-element-180d2b7 {
        width: var( --container-widget-width, 325px);
        max-width: 325px;
        --container-widget-width: 325px;
        --container-widget-flex-grow: 0;
    }
    .elementor-10584 .elementor-element.elementor-element-1bcba68 {
        width: var( --container-widget-width, 325px);
        max-width: 325px;
        --container-widget-width: 325px;
        --container-widget-flex-grow: 0;
    }
    .elementor-10584 .elementor-element.elementor-element-fac69ac {
        width: var( --container-widget-width, 733px);
        max-width: 733px;
        --container-widget-width: 733px;
        --container-widget-flex-grow: 0;
    }
    .elementor-10584 .elementor-element.elementor-element-fac69ac>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }
    .elementor-10584 .elementor-element.elementor-element-fac69ac .react-button {
        text-align: center;
    }
    .elementor-10584 .elementor-element.elementor-element-7aa070f {
        width: var( --container-widget-width, 325px);
        max-width: 325px;
        --container-widget-width: 325px;
        --container-widget-flex-grow: 0;
    }
    .elementor-10584 .elementor-element.elementor-element-c379da1 {
        --margin-top: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
    }
    .elementor-10584 .elementor-element.elementor-element-648fcd3 {
        --padding-top: 50px;
        --padding-bottom: 50px;
        --padding-left: 0px;
        --padding-right: 0px;
    }
    .elementor-10584 .elementor-element.elementor-element-20aea6e {
        --padding-top: 50px;
        --padding-bottom: 50px;
        --padding-left: 10px;
        --padding-right: 10px;
    }
    .elementor-10584 .elementor-element.elementor-element-bd1e529 {
        --flex-direction: column;
        --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
        --container-widget-height: initial;
        --container-widget-flex-grow: 0;
        --container-widget-align-self: initial;
        --flex-wrap-mobile: wrap;
        --justify-content: flex-start;
        --align-items: flex-start;
        --padding-top: 60px;
        --padding-bottom: 60px;
        --padding-left: 10px;
        --padding-right: 10px;
    }
    .elementor-10584 .elementor-element.elementor-element-7a52fa5 {
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px;
    }
    .elementor-10584 .elementor-element.elementor-element-13779ad {
        --padding-top: 0px;
        --padding-bottom: 60px;
        --padding-left: 15px;
        --padding-right: 15px;
    }
    .elementor-10584 .elementor-element.elementor-element-8550b4b .rt-portfolio-slider.slider-style-6 .portfolio-item .portfolio-content .p-title>a,
    .elementor-10584 .elementor-element.elementor-element-8550b4b .p-title a,
    .air-condition-swiper-wrapper .swiper-wrapper .swiper-slide .single-case-ac .inner-content .inner .title,
    .single-project-solari-h3 .name-social-area-wrapper .name-area .title,
    .solari-title-area-four h2.title {
        font-size: 16px;
    }
    .elementor-10584 .elementor-element.elementor-element-8550b4b .single-project-solari-h3 .name-social-area-wrapper .name-area p,
    .air-condition-swiper-wrapper .swiper-wrapper .swiper-slide .single-case-ac .inner-content .inner span.pre,
    .solari-title-area-four span.pre-title.skew-up a {
        font-size: 16px;
    }
    .elementor-10584 .elementor-element.elementor-element-b62e2b3 {
        --padding-top: 45px;
        --padding-bottom: 40px;
        --padding-left: 0px;
        --padding-right: 0px;
    }
    .elementor-10584 .elementor-element.elementor-element-8f90a64 .rts-accordion.style2 .accordion-item .accordion-header button {
        padding: 25px 40px 25px 10px;
    }
    .elementor-10584 .elementor-element.elementor-element-b07be70 {
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px;
    }
    .elementor-10584 .elementor-element.elementor-element-0680eb8 {
        --min-height: 280px;
    }
    .elementor-10584 .elementor-element.elementor-element-1a72be8 {
        --padding-top: 70px;
        --padding-bottom: 70px;
        --padding-left: 20px;
        --padding-right: 20px;
    }
    .elementor-10584 .elementor-element.elementor-element-cfe98dd {
        --padding-top: 60px;
        --padding-bottom: 60px;
        --padding-left: 10px;
        --padding-right: 10px;
    }
    .elementor-10584 .elementor-element.elementor-element-82f964e>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-10584 .elementor-element.elementor-element-82f964e .reactheme-blog-grid1 .title a {
        font-size: 18px;
        line-height: 28px;
    }
    .elementor-10584 .elementor-element.elementor-element-82f964e .rt-blog-slider.slider-style-1 .blog-item .blog-meta {
        padding: 15px 20px 0px 20px !important;
    }
    .elementor-10584 .elementor-element.elementor-element-82f964e .rt-blog-slider.slider-style-1 .blog-item .blog_content {
        padding: 20px 20px 30px 20px;
    }
}

@media(min-width:768px) {
    .elementor-10584 .elementor-element.elementor-element-7e65eca {
        --content-width: 1330px;
    }
    .elementor-10584 .elementor-element.elementor-element-1105069 {
        --content-width: 1370px;
    }
    .elementor-10584 .elementor-element.elementor-element-c379da1 {
        --width: 1335px;
    }
    .elementor-10584 .elementor-element.elementor-element-1a814c7 {
        --content-width: 1330px;
    }
    .elementor-10584 .elementor-element.elementor-element-e6e72cd {
        --content-width: 1330px;
    }
    .elementor-10584 .elementor-element.elementor-element-68e4df2 {
        --content-width: 1330px;
    }
    .elementor-10584 .elementor-element.elementor-element-41b0522 {
        --content-width: 1325px;
    }
    .elementor-10584 .elementor-element.elementor-element-bd1e529 {
        --content-width: 1335px;
    }
    .elementor-10584 .elementor-element.elementor-element-7a52fa5 {
        --width: 33%;
    }
    .elementor-10584 .elementor-element.elementor-element-b62e2b3 {
        --content-width: 1335px;
    }
    .elementor-10584 .elementor-element.elementor-element-581fd73 {
        --content-width: 1320px;
    }
    .elementor-10584 .elementor-element.elementor-element-cfe98dd {
        --content-width: 1320px;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-10584 .elementor-element.elementor-element-80e9113 {
        --width: 40%;
    }
    .elementor-10584 .elementor-element.elementor-element-56ced1b {
        --width: 50%;
    }
    .elementor-10584 .elementor-element.elementor-element-9dc25a9 {
        --width: 40%;
    }
    .elementor-10584 .elementor-element.elementor-element-63de863 {
        --width: 50%;
    }
    .elementor-10584 .elementor-element.elementor-element-87f8d76 {
        --width: 50%;
    }
    .elementor-10584 .elementor-element.elementor-element-5a262d8 {
        --width: 50%;
    }
    .elementor-10584 .elementor-element.elementor-element-8f33ed6 {
        --width: 50%;
    }
    .elementor-10584 .elementor-element.elementor-element-b170eb4 {
        --width: 50%;
    }
    .elementor-10584 .elementor-element.elementor-element-11bc598 {
        --width: 100%;
    }
    .elementor-10584 .elementor-element.elementor-element-b07be70 {
        --width: 100%;
    }
}